VSCM_CRATE svt2

VSCM_SLOT 4
#R1S6T strip 145 01/25/2019 YG
FSSR_ADDR_REG_KILL_STRIP 1  16

VSCM_SLOT 9
# FSSR_ADDR_REG_KILL_STRIP <chip 0-7> <strip 0-127>
#R2S10T
FSSR_ADDR_REG_KILL_STRIP 4  36
FSSR_ADDR_REG_KILL_STRIP 4  37
FSSR_ADDR_REG_KILL_STRIP 4  38
FSSR_ADDR_REG_KILL_STRIP 4  39

VSCM_SLOT 7
#R2S5B
FSSR_ADDR_REG_KILL_STRIP 2  109
FSSR_ADDR_REG_KILL_STRIP 2  110
FSSR_ADDR_REG_KILL_STRIP 2  111
FSSR_ADDR_REG_KILL_STRIP 2  112

VSCM_SLOT 16
#R3S12U4 strip 176 08/11/2018 YG, 175, 177 01/25/2019
FSSR_ADDR_REG_KILL_STRIP 3  46
FSSR_ADDR_REG_KILL_STRIP 3  47
FSSR_ADDR_REG_KILL_STRIP 3  48

VSCM_CRATE end
