# FSSR_ADDR_REG_KILL_STRIP <chip 0-7> <strip 0-127>
VSCM_CRATE svt1
VSCM_SLOT 3
#R1S1B strips 172 173 10/08/2018 YG added 43(171) on 10/16/2018
FSSR_ADDR_REG_KILL_STRIP 3  43
FSSR_ADDR_REG_KILL_STRIP 3  44
FSSR_ADDR_REG_KILL_STRIP 3  45

VSCM_SLOT 7
#R2S1B
FSSR_ADDR_REG_KILL_STRIP 2  68
FSSR_ADDR_REG_KILL_STRIP 2  69
FSSR_ADDR_REG_KILL_STRIP 2  70
FSSR_ADDR_REG_KILL_STRIP 2  71

VSCM_SLOT 8
#R2S3B
FSSR_ADDR_REG_KILL_STRIP 3  8
FSSR_ADDR_REG_KILL_STRIP 3  9
FSSR_ADDR_REG_KILL_STRIP 3  10
FSSR_ADDR_REG_KILL_STRIP 3  11

VSCM_SLOT 17
#R3S18B 10/19/2018 YG added strips 1 and 3 10/20/2018 YG added strips 0 and 4
FSSR_ADDR_REG_KILL_STRIP 3  0
FSSR_ADDR_REG_KILL_STRIP 3  1
FSSR_ADDR_REG_KILL_STRIP 3  2
FSSR_ADDR_REG_KILL_STRIP 3  3
FSSR_ADDR_REG_KILL_STRIP 3  4

VSCM_CRATE end
