# MAROC ASIC Parameters
SSP_RICH_MAROC_REG_CMD_FSU            1
SSP_RICH_MAROC_REG_CMD_SS             1
SSP_RICH_MAROC_REG_CMD_FSB            1
SSP_RICH_MAROC_REG_SWB_BUF_250F       0
SSP_RICH_MAROC_REG_SWB_BUF_500F       0
SSP_RICH_MAROC_REG_SWB_BUF_1P         0
SSP_RICH_MAROC_REG_SWB_BUF_2P         0
SSP_RICH_MAROC_REG_ONOFF_SS           1
SSP_RICH_MAROC_REG_SW_SS_300F         1
SSP_RICH_MAROC_REG_SW_SS_600F         1
SSP_RICH_MAROC_REG_SW_SS1200F         0
SSP_RICH_MAROC_REG_EN_ADC             1
SSP_RICH_MAROC_REG_H1H2_CHOICE        0
SSP_RICH_MAROC_REG_SW_FSU_20F         1
SSP_RICH_MAROC_REG_SW_FSU_40F         1
SSP_RICH_MAROC_REG_SW_FSU_25K         0
SSP_RICH_MAROC_REG_SW_FSU_50K         0
SSP_RICH_MAROC_REG_SW_FSU_100K        0 
SSP_RICH_MAROC_REG_SW_FSB1_50K        0
SSP_RICH_MAROC_REG_SW_FSB1_100K       0
SSP_RICH_MAROC_REG_SW_FSB1_100F       1
SSP_RICH_MAROC_REG_SW_FSB1_50F        1
SSP_RICH_MAROC_REG_CMD_FSB_FSU        0
SSP_RICH_MAROC_REG_VALID_DC_FS        0
SSP_RICH_MAROC_REG_SW_FSB2_50K        1
SSP_RICH_MAROC_REG_SW_FSB2_100K       0
SSP_RICH_MAROC_REG_SW_FSB2_100F       0
SSP_RICH_MAROC_REG_SW_FSB2_50F        1
SSP_RICH_MAROC_REG_VALID_DC_FSB2      0
SSP_RICH_MAROC_REG_ENB_TRISTATE       1
SSP_RICH_MAROC_REG_POLAR_DISCRI       0
SSP_RICH_MAROC_REG_INV_DISCRIADC      0
SSP_RICH_MAROC_REG_D1_D2              0
SSP_RICH_MAROC_REG_CMD_CK_MUX         0
SSP_RICH_MAROC_REG_ONOFF_OTABG        0
SSP_RICH_MAROC_REG_ONOFF_DAC          0
SSP_RICH_MAROC_REG_SMALL_DAC          0
SSP_RICH_MAROC_REG_ENB_OUTADC         0
SSP_RICH_MAROC_REG_INV_STARTCMPTGRAY  0
SSP_RICH_MAROC_REG_RAMP_8BIT          0
SSP_RICH_MAROC_REG_RAMP_10BIT         0
SSP_RICH_MAROC_REG_DAC0               300
SSP_RICH_MAROC_REG_DAC1               0
SSP_RICH_MAROC_REG_GAIN_0_15          64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 
SSP_RICH_MAROC_REG_GAIN_16_31         64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 
SSP_RICH_MAROC_REG_GAIN_32_47         64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 
SSP_RICH_MAROC_REG_GAIN_48_63         64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 
SSP_RICH_MAROC_REG_SUM                0x00000000 0x00000000
SSP_RICH_MAROC_REG_CTEST              0x00000000 0x00000000
SSP_RICH_MAROC_REG_MASKOR             0x00000000 0x00000000
