MVT_CRATE mmft1
############################
# Global System parameters #
############################
Sys Name             Ftt
Sys RunMode          Clas12    
Sys NbOfSmpPerEvt    10
Sys NbOfEvtPerBlk    1
Sys ClkMode          Smp40_Rd40
Sys SparseSmp        0
Sys BlockPrescale    1
Sys EventLimit       0
Sys RepRawData       0
Sys CmpDataFmt       Unpacked 
Sys SelfTrigLat      4096 # ns
Sys SelfTrigWin      200 # ns
################################
# Backend crate configurations #
################################
Bec 1 CrateId 75
Bec 1 Slot 12 Sd  75
Bec 1 Slot 21 Ti  1 0x00a00000 0x08000000 Mblk Undefined
Bec 1 Slot 14 Beu 1 0x00700000 0x0a000000 Mblk First    
Bec 1 BaseAdr_A32m_Com 0 0x0b000000 0x12000000
# BE Crate 1 topology
Bec 1 Beu 1 Feu   2  M  M   1   6  M  M   3  M   8  M   7  M  M  M  M  M  M  M  M  M  M  M  M  M  M  M  M  M  M  M  M


# FeuId   1 <->  Beu=1 Lnk= 0 Sn= 2        FeuId   2 <->       Inactive             FeuId   3 <->       Inactive             FeuId   4 <->  Beu=1 Lnk= 3 Sn= 1  
# FeuId   5 <->  Beu=1 Lnk= 4 Sn= 6        FeuId   6 <->       Inactive             FeuId   7 <->       Inactive             FeuId   8 <->  Beu=1 Lnk= 7 Sn= 3  
# FeuId   9 <->       Inactive             FeuId  10 <->  Beu=1 Lnk= 9 Sn= 8        FeuId  11 <->       Inactive             FeuId  12 <->  Beu=1 Lnk=11 Sn= 7  
# FeuId  13 <->       Inactive             FeuId  14 <->       Inactive             FeuId  15 <->       Inactive             FeuId  16 <->       Inactive       
# FeuId  17 <->       Inactive             FeuId  18 <->       Inactive             FeuId  19 <->       Inactive             FeuId  20 <->       Inactive       
# FeuId  21 <->       Inactive             FeuId  22 <->       Inactive             FeuId  23 <->       Inactive             FeuId  24 <->       Inactive       
# FeuId  25 <->       Inactive             FeuId  26 <->       Inactive             FeuId  27 <->       Inactive             FeuId  28 <->       Inactive       
# FeuId  29 <->       Inactive             FeuId  30 <->       Inactive             FeuId  31 <->       Inactive             FeuId  32 <->       Inactive       
# FeuId  33 <->       Inactive             FeuId  34 <->       Inactive             FeuId  35 <->       Inactive             FeuId  36 <->       Inactive       
# FeuId  37 <->       Inactive             FeuId  38 <->       Inactive             FeuId  39 <->       Inactive             FeuId  40 <->       Inactive       
# FeuId  41 <->       Inactive             FeuId  42 <->       Inactive             FeuId  43 <->       Inactive             FeuId  44 <->       Inactive       
# FeuId  45 <->       Inactive             FeuId  46 <->       Inactive             FeuId  47 <->       Inactive             FeuId  48 <->       Inactive       
# FeuId  49 <->       Inactive             FeuId  50 <->       Inactive             FeuId  51 <->       Inactive             FeuId  52 <->       Inactive       
# FeuId  53 <->       Inactive             FeuId  54 <->       Inactive             FeuId  55 <->       Inactive             FeuId  56 <->       Inactive       
# FeuId  57 <->       Inactive             FeuId  58 <->       Inactive             FeuId  59 <->       Inactive             FeuId  60 <->       Inactive       
# FeuId  61 <->       Inactive             FeuId  62 <->       Inactive             FeuId  63 <->       Inactive             FeuId  64 <->       Inactive       

Bec 1 SelfTrigMult 0
Bec 1 SelfTrigWin  150 # ns
#####################
# TI configurations #
#####################
# TI parameters do not apply in Clas12     mode #
# TI parameters do not apply in Clas12     mode #
# TI parameters do not apply in Clas12     mode #
# Ti 75 configuration
# Ti 75 Slot 21 BaseAdr_A24_Reg=0x00a00000 BaseAdr_A32_Fifo=0x08000000
# Ti 75 Slot 21 Mblk Min=0x0b000000 Max=0x12000000 Rank=Undefined
# Ti 75 NbOfEvtPerBlk  1
# Ti 75 BlockLilit     0
# Ti 75 ClkSrc         HFBR1    
Ti 75 TrgSrc           HFBR1    
Ti 75 SynSrc           HFBR1    
Ti 75 BsySrc           SwB      
Ti 75 TrgRate          -1
Ti 75 TrgPrescale      -1
Ti 75 TrgTimPar        -1 -1
Ti 75 TrgRule 1       -1 -1 
Ti 75 TrgRule 2       -1 -1 
Ti 75 TrgRule 3       -1 -1 
Ti 75 TrgRule 4       -1 -1 
Ti 75 SynDel           -1
Ti 75 ExtEidTstp       -1
Ti 75 TrgInhThr        -1
# TI parameters do not apply in Clas12     mode #
# TI parameters do not apply in Clas12     mode #
# TI parameters do not apply in Clas12     mode #

#####################
# SD configurations #
#####################
# Sd 75 Slot 12
# Sd 75 ActiveSlotFlags 0x00004000
# Sd 75 ActiveTrigFlags 0x00000000
# Sd 75 TrigMult        0
# Sd 75 TrigWin         150 # ns

###############################
# Backend unit configurations #
###############################
# Beu * configuration
# Beu * NbOfSmpPerEvt  0
# Beu * NbOfEvtPerBlk  0
# Beu * NearLoopEnb    0x00000000
# Beu * RolEnb         0x00000000
# Beu * FeuEmuMsk      0x00000000
# Beu * SelfTrigLnkEnb 0x00000000
# Beu * SelfTrigLat    0 # ns
# Beu * SelfTrigWin    0 # ns
Beu * SelfTrigMult     3
Beu * SelfTrigWid      200 # ns
Beu * ClkSrc           Undefined     
Beu * TrgSrc           Ti1      
Beu * SynSrc           Ti       
Beu * BsySrc           TrgFifo 
Beu * TrgFifo_Lwm      49
Beu * TrgFifo_Hwm      55
Beu * TrgFifo_FullThr  59
Beu * TrgTstp_Offset   0
Beu * InMemBusyThr     34768
Beu * TimeOut          10000
Beu * MaskToInput      0
Beu * EmuDataSize      1
Beu * TrigRate         153937
# Beu 1 configuration
# Beu 1 Slot 14 BaseAdr_A24_Reg=0x00700000 BaseAdr_A32_Fifo=0x0a000000
# Beu 1 Slot 14 Mblk Min=0x0b000000 Max=0x12000000 Rank=First
# Beu 1 NbOfSmpPerEvt  10
# Beu 1 NbOfEvtPerBlk  1
# Beu 1 NearLoopEnb    0x00000000
# Beu 1 RolEnb         0x00000a99
# Beu 1 FeuEmuMsk      0xffffffff
# Beu 1 SelfTrigLnkEnb 0x00000000
# Beu 1 SelfTrigLat    4096 # ns
# Beu 1 SelfTrigWin    200 # ns
Beu 1 SelfTrigMult     3
Beu 1 SelfTrigWid      200 # ns
Beu 1 ClkSrc           TiVxs         
Beu 1 TrgSrc           Ti1      
Beu 1 SynSrc           Ti       
Beu 1 BsySrc           TrgFifo 
Beu 1 TrgFifo_Lwm      23
Beu 1 TrgFifo_Hwm      27
Beu 1 TrgFifo_FullThr  59
Beu 1 TrgTstp_Offset   0
Beu 1 InMemBusyThr     34768
Beu 1 TimeOut          10000
Beu 1 MaskToInput      0
Beu 1 EmuDataSize      1
Beu 1 TrigRate         153937

################################
# Frontend unit configurations #
################################
########################
# Parameters for Feu=*
########################
# Main module configuration
Feu * Main_Conf_ClkSel RecClk
Feu * Main_Conf_SparseRd 0
Feu * Main_Conf_DreamMask 0x00
Feu * Main_Conf_Samples 10
# Main module trigger configuration
Feu * Main_Trig_TimeStamp 0
Feu * Main_Trig_OvrWrnLwm 61
Feu * Main_Trig_OvrWrnHwm 62
Feu * Main_Trig_OvrThersh 63
Feu * Main_Trig_LocThrot 0
# FEU PowerUp Register
Feu * Feu_Pwr_Dream 0xf
Feu * Feu_Pwr_PrtFlt 0xffff
# FEU Control parameters
Feu * Feu_RunCtrl_Pd 1
Feu * Feu_RunCtrl_CM 1
Feu * Feu_RunCtrl_ZS 1
Feu * Feu_RunCtrl_DrOvr 0
Feu * Feu_RunCtrl_DrDblSmpClk 0
Feu * Feu_RunCtrl_EvTstExt 0
Feu * Feu_RunCtrl_RdDel 0
Feu * Feu_RunCtrl_ZsChkSmp 4
Feu * Feu_RunCtrl_CmOffset 256
Feu * Feu_RunCtrl_AdcDatRdyDel 8
Feu * Feu_RunCtrl_Id 0
Feu * Feu_RunCtrl_PdFile None
Feu * Feu_RunCtrl_ZsFile None
# FEU Pulser parameters
Feu * Feu_Pulser_Enable 0
Feu * Feu_Pulser_DreamTst 0x 0
Feu * Feu_Pulser_PulseWid 16
# FEU Prescale parameters
Feu * Feu_PreScale_EvtData    1
Feu * Feu_InterPacket_Delay    0
# FEU Trigger Generator parameters
Feu * Trig_Conf_Rate 0
Feu * Trig_Conf_Src Tg_Src_Int
Feu * Trig_Conf_TrigPipeLen 1
Feu * Trig_Conf_TrigVetoLen 0
Feu * Trig_Conf_File None
# FEU Auxiliary Trigger Interface parameters
Feu * TI_Ignore 1
Feu * TI_DcBal_Enc 0
Feu * TI_DcBal_Dec 0
Feu * TI_Bert 0
# FEU Self Trigger parameters
Feu * SelfTrig_DreamMask 0xff
Feu * SelfTrig_Mult 0
Feu * SelfTrig_CmbHitPropFb 0
Feu * SelfTrig_CmbHitPropOl 0
Feu * SelfTrig_DrmHitWid 14
Feu * SelfTrig_CmbHitWid 14
Feu * SelfTrig_Veto 0
Feu * SelfTrig_TrigTopo 0
# Self Trigger topology parameters
Feu * SelfTrig_Topology  0 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  4 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology  8 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 12 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 16 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 20 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 24 0x00000000 0x00000000 0x00000000 0x00000000
Feu * SelfTrig_Topology 28 0x00000000 0x00000000 0x00000000 0x00000000
# FEU Communication parameters
Feu * UdpChan_Enable 0
Feu * UdpChan_MultiPackEnb 0
Feu * UdpChan_MultiPackThr 0
Feu * ComChan_Enable 1
# Dream Clock Parameters
Feu * DrmClk RdClk_Div 5.0
Feu * DrmClk WrClk_Div 5.0
Feu * DrmClk WrClk_Phase 2
Feu * DrmClk AdcClk_Phase 5
# Adc parameters
Feu * Adc 0x16 0x03 1 
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
Feu * Dream *  1 0x081f 0xd023 0x0000 0x0000 
Feu * Dream *  2 0x0000 0x0008 0x0000 0x0000 
Feu * Dream *  3 0x0000 0x0000 0x0000 0x0000 
Feu * Dream *  4 0x0000 0x0000 0x0000 0x0000 
Feu * Dream *  6 0xaaaa 0xaaaa 0xaaaa 0xaaaa 
Feu * Dream *  7 0xaaaa 0xaaaa 0xaaaa 0xaaaa 
Feu * Dream *  8 0xffff 0xffff 0x0000 0x0000 
Feu * Dream *  9 0xffff 0xffff 0x0000 0x0000 
Feu * Dream * 10 0xffff 0xffff 0x0000 0x0000 
Feu * Dream * 11 0xffff 0xffff 0x0000 0x0000 
Feu * Dream * 12 0x00c8 0x0000 0x0000 0x0000 
########################
# Parameters for Feu=1
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 1 Feu_RunCtrl_Id 2
Feu 1 Feu_RunCtrl_PdFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_msk_01_ped.prg
Feu 1 Feu_RunCtrl_ZsFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_mod_01_thr.prg
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
# Self Trigger topology parameters
# FEU Communication parameters
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
########################
# Parameters for Feu=4
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 4 Feu_RunCtrl_Id 1
Feu 4 Feu_RunCtrl_PdFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_msk_04_ped.prg
Feu 4 Feu_RunCtrl_ZsFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_mod_04_thr.prg
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
# Self Trigger topology parameters
# FEU Communication parameters
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
########################
# Parameters for Feu=5
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 5 Feu_RunCtrl_Id 6
Feu 5 Feu_RunCtrl_PdFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_msk_05_ped.prg
Feu 5 Feu_RunCtrl_ZsFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_mod_05_thr.prg
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
# Self Trigger topology parameters
# FEU Communication parameters
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
########################
# Parameters for Feu=8
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 8 Feu_RunCtrl_Id 3
Feu 8 Feu_RunCtrl_PdFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_msk_08_ped.prg
Feu 8 Feu_RunCtrl_ZsFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_mod_08_thr.prg
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
# Self Trigger topology parameters
# FEU Communication parameters
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
########################
# Parameters for Feu=10
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 10 Feu_RunCtrl_Id 8
Feu 10 Feu_RunCtrl_PdFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_msk_10_ped.prg
Feu 10 Feu_RunCtrl_ZsFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_mod_10_thr.prg
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
# Self Trigger topology parameters
# FEU Communication parameters
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
########################
# Parameters for Feu=12
########################
# Main module configuration
# Main module trigger configuration
# FEU PowerUp Register
# FEU Control parameters
Feu 12 Feu_RunCtrl_Id 7
Feu 12 Feu_RunCtrl_PdFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_msk_12_ped.prg
Feu 12 Feu_RunCtrl_ZsFile /usr/clas12/release/1.3.2/parms/mvt/FTT_roc_75_cmp_000088_FTT_mod_12_thr.prg
# FEU Pulser parameters
# FEU Prescale parameters
# FEU Trigger Generator parameters
# FEU Auxiliary Trigger Interface parameters
# FEU Self Trigger parameters
# Self Trigger topology parameters
# FEU Communication parameters
# Dream Clock Parameters
# Adc parameters
# EeProm Values
# Max16031 Values
# Dream 0 parameters
# Dream 1 parameters
# Dream 2 parameters
# Dream 3 parameters
# Dream 4 parameters
# Dream 5 parameters
# Dream 6 parameters
# Dream 7 parameters
# Dream * parameters
MVT_CRATE end
