#
# include it with following:
#   include trigger/EC/tdcpcal.cnf
#

TDC1190_CRATE tdcpcal1
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -8050
TDC1190_CRATE end

TDC1190_CRATE tdcpcal2
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -8050
TDC1190_CRATE end

TDC1190_CRATE tdcpcal3
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -8050
TDC1190_CRATE end

TDC1190_CRATE tdcpcal4
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -8050
TDC1190_CRATE end

TDC1190_CRATE tdcpcal5
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -8050
TDC1190_CRATE end

TDC1190_CRATE tdcpcal6
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -8050
TDC1190_CRATE end


