VTP_FIRMWARE fe_vtp_hallb_v7_pcs.bin

VTP_W_OFFSET 7900
VTP_W_WIDTH 400

#        slot: 10 13  9 14  8 15  7 16  6 17  5 18  4 19  3 20
#     payload:  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16
VTP_PAYLOAD_EN  1  1  1  1  1  1  1  1  1  0  1  0  1  0  1  0

#      fiber:  1  2  3  4
VTP_FIBER_EN   1  0  0  0

VTP_PCS_THRESHOLDS    100   100   100
VTP_PCS_NFRAMES       2
VTP_PCS_DIPFACTOR     1
VTP_PCS_NSTRIP        0     0
VTP_PCS_DALITZ        0     2000

#VTP_PC_FADCSUM_CH 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0x00000000 0x000000000
VTP_PCS_COSMIC_EMIN       100
VTP_PCS_COSMIC_MULTMAX    1
VTP_PCS_COSMIC_HITWIDTH   64
VTP_PCS_COSMIC_EVALDELAY  32

# 0-u/v/w coincidence, 1-pixel
VTP_PCS_COSMIC_PIXELEN    1

