VTP_W_OFFSET 7900
VTP_W_WIDTH 400

#        slot: 10 13  9 14  8 15  7 16  6 17  5 18  4 19  3 20
#     payload:  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16
VTP_PAYLOAD_EN  1  1  1  1  1  1  1  1  1  0  1  0  1  0  1  0

#      fiber:  1  2  3  4
VTP_FIBER_EN   1  0  0  0

#VTP_PCS_THRESHOLDS   <Strip> <Peak> <Cluster>
#Units: 1/10MeV = 100 keV   10=1 MeV 

# MIP CLUSTER THRESHOLD = 20 MEV (PCAL MIP CLUSTER = 30 MEV)
# VTP_PCS_THRESHOLDS   10  10  200

# ELEC TRIGGER PCAL USED AS MIP VETO AT 60 MEV
VTP_PCS_THRESHOLDS   10  10  600 

VTP_PCS_NFRAMES       3
VTP_PCS_DIPFACTOR     1
VTP_PCS_NSTRIP        0     0
VTP_PCS_DALITZ        400   520
#around 462


