#
# hps11
#
FADC250_CRATE hps11

# RF SIGNALS, HPS11, SLOT 13, CHANNELS 0/1

FADC250_SLOT all

FADC250_DAC  3300

# units in ns
FADC250_W_OFFSET 3010
FADC250_W_WIDTH 400

#raw mode
FADC250_MODE      1
FADC250_NSB       12
FADC250_NSA       240
FADC250_NPEAK     1

#       channel:  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FADC250_ADC_MASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
FADC250_TRG_MASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1

#Set RF clock threshold
#FADC250_TET 1000
FADC250_TET 800

#FADC250_SLOT     18
#FADC250_ADC_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

##FADC250_CONF_FILE hps11_ped.cnf

FADC250_CRATE end
