#
# FADC
#
FADC250_CRATE adcband1
FADC250_SLOT all
FADC250_DAC  3300

#when decreased, ADC pulse moves left
FADC250_W_OFFSET  7750
FADC250_W_WIDTH  400
#FADC250_W_OFFSET  7590
#raw mode
FADC250_MODE 1
FADC250_NSB	4	
FADC250_NSA 24
FADC250_TET 62
include fadc250/adcband1_ped.cnf
FADC250_CRATE end
#
# dsc2 config file for expid=clondev
#
DSC2_CRATE     tdcband1
DSC2_SLOT       all
DSC2_WIDTH       20     40
DSC2_THRESHOLD   14  104
DSC2_CRATE     end
#
# tdc1190 config file - example
TDC1190_CRATE tdcband1
TDC1190_SLOT all
TDC1190_BERR_FIFO  1
TDC1190_BLT_EVENTS 1
TDC1190_N_HITS     64
TDC1190_ALMOSTFULL 16384
TDC1190_OUT_PROG   2
TDC1190_W_WIDTH   1500
TDC1190_W_OFFSET -8500
TDC1190_W_EXTRA    25
TDC1190_W_REJECT   50
TDC1190_EDGE       2
TDC1190_CRATE end
