SSP_CRATE hps11
SSP_ALLSLOTS
SSP_HPS_PULSER 50
SSP_CRATE end

TI_CRATE all
TI_BLOCK_LEVEL 40
TI_CRATE end


# include dpm/dpm-default.trg

DPM_CRATE all
DPM_CONFIG_FILE /usr/clas12/release/0.2/slac_svt/svtdaq/daq/config/rce_config.xml
DPM_CRATE end

# include dpm/dpm-3sam-3rms.trg

DPM_CRATE all
DPM_THR_CONFIG_FILE /usr/clas12/release/0.2/slac_svt/svtdaq/daq/thresholds/20150407_527_thresholds_3rms.xml
DPM_CRATE end

