#
# include it with following:
#   include trigger/FTOF/tdcftof_cosmic.cnf
#

TDC1190_CRATE tdcftof1
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -7900
TDC1190_CRATE end

TDC1190_CRATE tdcftof2
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -7900
TDC1190_CRATE end

TDC1190_CRATE tdcftof3
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -7900
TDC1190_CRATE end

TDC1190_CRATE tdcftof4
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -7900
TDC1190_CRATE end

TDC1190_CRATE tdcftof5
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -7900
TDC1190_CRATE end

TDC1190_CRATE tdcftof6
TDC1190_SLOT all
TDC1190_W_WIDTH   500 
TDC1190_W_OFFSET -7900
TDC1190_CRATE end


