FADC250_CRATE hps1
FADC250_SLOT all
FADC250_W_OFFSET 2960
FADC250_W_WIDTH 128
FADC250_MODE 1
FADC250_TET_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
FADC250_CRATE end

FADC250_CRATE hps2
FADC250_SLOT all
FADC250_W_OFFSET 2960
FADC250_W_WIDTH 128
FADC250_MODE 1
FADC250_TET_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
FADC250_CRATE end

SSP_CRATE all
SSP_ALLSLOTS
SSP_W_OFFSET 724
SSP_W_WIDTH 32
SSP_CRATE end
