DSC2_CRATE scaler1

DSC2_SLOT all

DSC2_WIDTH       20     40
DSC2_THRESHOLD   400  400

#DSC2_CH_THRESHOLD 0 500 500
#DSC2_CH_THRESHOLD 1 500 500
#DSC2_CH_THRESHOLD 2 500 500
#DSC2_CH_THRESHOLD 3 500 500
#DSC2_CH_THRESHOLD 4 500 500
#DSC2_CH_THRESHOLD 5 500 500
#DSC2_CH_THRESHOLD 6 500 500
#DSC2_CH_THRESHOLD 7 500 500
#DSC2_CH_THRESHOLD 8 500 500
#DSC2_CH_THRESHOLD 9 500 500
#DSC2_CH_THRESHOLD 10 500 500
#DSC2_CH_THRESHOLD 11 500 500
#DSC2_CH_THRESHOLD 12 500 500
#DSC2_CH_THRESHOLD 13 500 500
#DSC2_CH_THRESHOLD 14 500 500
#DSC2_CH_THRESHOLD 15 500 500

DSC2_ENABLE_DAQ_READOUT 8
##DSC2_ENABLE_DAQ_READOUT 9

# Slot 8 is fcup/slm, which we want for beam charge,
# so integrate over entire run and not zero on readout.

# this (presumably) sets it to not zero on readout:
DSC2_SLOT 8
DSC2_SCALER_FLAGS 1

# 100 kHz, for a ~12-hour maximum (32-bits, unsigned):
DSC2_SLOT 8
DSC2_SCALER_REFPRESCALE 1250

# Prescale reference to make 100kHz it reference
DSC2_SLOT 11
DSC2_SCALER_REFPRESCALE 1250
DSC2_SLOT 12
DSC2_SCALER_REFPRESCALE 1250

###DSC2_TEST_INPUT 3
DSC2_SLOT 15
DSC2_WIDTH       10     40
DSC2_THRESHOLD 500 500

DSC2_CRATE     end
