DSC2_CRATE tdcecal2

DSC2_SLOT 18
DSC2_CH_THRESHOLD  0 10 10 
DSC2_CH_THRESHOLD  1 10 10 
DSC2_CH_THRESHOLD  2 10 10 
DSC2_CH_THRESHOLD  3 10 10 
DSC2_CH_THRESHOLD  4 10 10 
DSC2_CH_THRESHOLD  5 10 10 
DSC2_CH_THRESHOLD  6 10 10 
DSC2_CH_THRESHOLD  7 10 10 
DSC2_CH_THRESHOLD  8 10 10 
DSC2_CH_THRESHOLD  9 10 10 
DSC2_CH_THRESHOLD 10 10 10 
DSC2_CH_THRESHOLD 11 10 10 
