DSC2_CRATE tdcecal2

DSC2_SLOT 18
DSC2_CH_THRESHOLD 12 30 50 
DSC2_CH_THRESHOLD 13 30 50 
DSC2_CH_THRESHOLD 14 30 50 
DSC2_CH_THRESHOLD 15 30 50 
DSC2_SLOT 19
DSC2_CH_THRESHOLD  0 30 50 
DSC2_CH_THRESHOLD  1 30 50 
DSC2_CH_THRESHOLD  2 30 50 
DSC2_CH_THRESHOLD  3 30 50 
DSC2_CH_THRESHOLD  4 30 50 
DSC2_CH_THRESHOLD  5 30 50 
DSC2_CH_THRESHOLD  6 30 50 
DSC2_CH_THRESHOLD  7 30 50 
DSC2_CH_THRESHOLD  8 30 50 
DSC2_CH_THRESHOLD  9 30 50 
DSC2_CH_THRESHOLD 10 30 50 
DSC2_CH_THRESHOLD 11 30 50 
DSC2_CH_THRESHOLD 12 30 50 
DSC2_CH_THRESHOLD 13 30 50 
DSC2_CH_THRESHOLD 14 30 50 
DSC2_CH_THRESHOLD 15 30 50 
DSC2_SLOT 20
DSC2_THRESHOLD 30 30
