#
# dsc2 config file for expid=clondev
#
# this file contains settings  for JLAB VME Discriminators DSC2
#
# CRATE      <tdcecal1>     <- crate name, usually IP name
#
# DSC2_SLOT  2   <- slot#
#
# DSC2_WIDTH  20  40   <- TDC width (ns), TRG width (ns)
#
# DSC2_TDCMASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1     <- TDC enable mask
#
# DSC2_TRGMASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1     <- TRG enable mask
#
# DSC2_TDCORMASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1     <- TDC OR mask
#
# DSC2_TRGORMASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1     <- TRG OR mask
#
# DSC2_THRESHOLD  20  50   <- board threshold: TDC threshold (mV), TRG threshold (mV)
#
# DSC2_CH_THRESHOLD    0  20   50   <- channel threshold: channel#, TDC threshold (mV), TRG threshold (mV)
#
#    following, if used, will supersede TRG width:
#
# DSC2_TRGDIGITAL   40  64    <- board digital TRG output: width (ns), delay (ns)
#
# DSC2_CH_TRGDIGITAL   0   40  64    <- channel digital TRG output: channel#, width (ns), delay (ns)
#
#
DSC2_CRATE     tdcftof6

#DSC2_SLOT       all
#DSC2_WIDTH       20     40
#DSC2_THRESHOLD   20  20
##DSC2_TRGDIGITAL 140      0

DSC2_SLOT       all
DSC2_WIDTH       35     40
DSC2_THRESHOLD   25  10
#DSC2_TRGDIGITAL 60     32

# PANEL 1B GAIN CHANGE 10.17.2018
DSC2_SLOT 8
DSC2_THRESHOLD 19 10
DSC2_SLOT 10
DSC2_THRESHOLD 19 10
DSC2_SLOT 12
DSC2_THRESHOLD 19 10
DSC2_SLOT 14
DSC2_THRESHOLD 19 10
DSC2_SLOT 15
DSC2_THRESHOLD 19 10
DSC2_SLOT 17
DSC2_THRESHOLD 19 10
DSC2_SLOT 18
DSC2_THRESHOLD 19 10
DSC2_SLOT 20
DSC2_THRESHOLD 19 10

# copy of trigger 
DSC2_SLOT 20
DSC2_CH_THRESHOLD 15 500 500
#
DSC2_CRATE     end
