SSP_CRATE rich4


SSP_SLOT 3
SSP_RICH_FIBER 0
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 3
SSP_RICH_FIBER 0
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 205

SSP_SLOT 3
SSP_RICH_FIBER 0
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 3
SSP_RICH_FIBER 1
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 3
SSP_RICH_FIBER 1
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 3
SSP_RICH_FIBER 1
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 3
SSP_RICH_FIBER 2
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 3
SSP_RICH_FIBER 2
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 3
SSP_RICH_FIBER 3
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 3
SSP_RICH_FIBER 3
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 3
SSP_RICH_FIBER 3
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 3
SSP_RICH_FIBER 4
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 205

SSP_SLOT 3
SSP_RICH_FIBER 4
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 3
SSP_RICH_FIBER 4
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 3
SSP_RICH_FIBER 5
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 3
SSP_RICH_FIBER 5
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 3
SSP_RICH_FIBER 6
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 226

SSP_SLOT 3
SSP_RICH_FIBER 6
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 3
SSP_RICH_FIBER 6
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 3
SSP_RICH_FIBER 7
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 3
SSP_RICH_FIBER 7
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 3
SSP_RICH_FIBER 8
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 3
SSP_RICH_FIBER 8
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 3
SSP_RICH_FIBER 8
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 3
SSP_RICH_FIBER 9
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 3
SSP_RICH_FIBER 9
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 3
SSP_RICH_FIBER 9
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 3
SSP_RICH_FIBER 10
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 3
SSP_RICH_FIBER 10
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 3
SSP_RICH_FIBER 10
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 3
SSP_RICH_FIBER 12
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 3
SSP_RICH_FIBER 12
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 3
SSP_RICH_FIBER 13
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 3
SSP_RICH_FIBER 13
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 3
SSP_RICH_FIBER 13
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 3
SSP_RICH_FIBER 14
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 3
SSP_RICH_FIBER 14
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 3
SSP_RICH_FIBER 14
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 3
SSP_RICH_FIBER 15
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 3
SSP_RICH_FIBER 15
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 3
SSP_RICH_FIBER 16
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 3
SSP_RICH_FIBER 16
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 3
SSP_RICH_FIBER 17
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 3
SSP_RICH_FIBER 17
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 224

SSP_SLOT 3
SSP_RICH_FIBER 17
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 204

SSP_SLOT 3
SSP_RICH_FIBER 18
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 206

SSP_SLOT 3
SSP_RICH_FIBER 18
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 3
SSP_RICH_FIBER 18
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 3
SSP_RICH_FIBER 19
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 3
SSP_RICH_FIBER 19
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 3
SSP_RICH_FIBER 19
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 3
SSP_RICH_FIBER 20
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 3
SSP_RICH_FIBER 20
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 3
SSP_RICH_FIBER 20
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 3
SSP_RICH_FIBER 21
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 3
SSP_RICH_FIBER 21
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 3
SSP_RICH_FIBER 21
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 204

SSP_SLOT 3
SSP_RICH_FIBER 22
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 206

SSP_SLOT 3
SSP_RICH_FIBER 22
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 3
SSP_RICH_FIBER 22
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 3
SSP_RICH_FIBER 23
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 3
SSP_RICH_FIBER 23
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 3
SSP_RICH_FIBER 23
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 3
SSP_RICH_FIBER 24
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 3
SSP_RICH_FIBER 24
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 3
SSP_RICH_FIBER 24
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 3
SSP_RICH_FIBER 25
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 3
SSP_RICH_FIBER 25
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 3
SSP_RICH_FIBER 25
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 3
SSP_RICH_FIBER 26
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 206

SSP_SLOT 3
SSP_RICH_FIBER 26
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 3
SSP_RICH_FIBER 26
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 201

SSP_SLOT 3
SSP_RICH_FIBER 27
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 3
SSP_RICH_FIBER 27
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 3
SSP_RICH_FIBER 28
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 3
SSP_RICH_FIBER 28
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 3
SSP_RICH_FIBER 28
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 224

SSP_SLOT 3
SSP_RICH_FIBER 29
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 3
SSP_RICH_FIBER 29
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 226

SSP_SLOT 3
SSP_RICH_FIBER 29
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 3
SSP_RICH_FIBER 30
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 3
SSP_RICH_FIBER 30
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 226

SSP_SLOT 3
SSP_RICH_FIBER 30
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 3
SSP_RICH_FIBER 31
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 3
SSP_RICH_FIBER 31
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 3
SSP_RICH_FIBER 31
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 4
SSP_RICH_FIBER 0
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 4
SSP_RICH_FIBER 0
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 0
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 4
SSP_RICH_FIBER 1
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 1
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 4
SSP_RICH_FIBER 1
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 203

SSP_SLOT 4
SSP_RICH_FIBER 2
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 4
SSP_RICH_FIBER 2
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 2
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 3
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 4
SSP_RICH_FIBER 3
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 4
SSP_RICH_FIBER 3
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 4
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 4
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 4
SSP_RICH_FIBER 4
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 5
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 4
SSP_RICH_FIBER 5
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 4
SSP_RICH_FIBER 5
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 223

SSP_SLOT 4
SSP_RICH_FIBER 6
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 6
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 6
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 4
SSP_RICH_FIBER 7
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 4
SSP_RICH_FIBER 7
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 8
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 8
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 4
SSP_RICH_FIBER 9
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 9
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 10
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 4
SSP_RICH_FIBER 10
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 205

SSP_SLOT 4
SSP_RICH_FIBER 10
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 11
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 11
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 4
SSP_RICH_FIBER 11
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 4
SSP_RICH_FIBER 12
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 205

SSP_SLOT 4
SSP_RICH_FIBER 12
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 12
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 13
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 4
SSP_RICH_FIBER 13
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 13
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 14
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 14
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 4
SSP_RICH_FIBER 14
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 15
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 15
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 227

SSP_SLOT 4
SSP_RICH_FIBER 15
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 4
SSP_RICH_FIBER 16
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 16
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 4
SSP_RICH_FIBER 16
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 4
SSP_RICH_FIBER 18
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 18
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 4
SSP_RICH_FIBER 18
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 4
SSP_RICH_FIBER 19
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 19
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 4
SSP_RICH_FIBER 19
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 4
SSP_RICH_FIBER 20
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 4
SSP_RICH_FIBER 20
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 4
SSP_RICH_FIBER 20
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 4
SSP_RICH_FIBER 21
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 4
SSP_RICH_FIBER 21
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 4
SSP_RICH_FIBER 21
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 4
SSP_RICH_FIBER 22
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 22
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 225

SSP_SLOT 4
SSP_RICH_FIBER 22
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 4
SSP_RICH_FIBER 23
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 4
SSP_RICH_FIBER 23
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 24
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 206

SSP_SLOT 4
SSP_RICH_FIBER 24
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 25
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 4
SSP_RICH_FIBER 25
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 4
SSP_RICH_FIBER 26
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 4
SSP_RICH_FIBER 26
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 4
SSP_RICH_FIBER 26
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 4
SSP_RICH_FIBER 27
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 223

SSP_SLOT 4
SSP_RICH_FIBER 27
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 28
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 4
SSP_RICH_FIBER 28
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 4
SSP_RICH_FIBER 28
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 29
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 4
SSP_RICH_FIBER 29
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 4
SSP_RICH_FIBER 29
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 4
SSP_RICH_FIBER 30
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 4
SSP_RICH_FIBER 30
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 4
SSP_RICH_FIBER 30
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 4
SSP_RICH_FIBER 31
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 4
SSP_RICH_FIBER 31
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 4
SSP_RICH_FIBER 31
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 5
SSP_RICH_FIBER 0
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 0
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 0
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 5
SSP_RICH_FIBER 1
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 1
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 5
SSP_RICH_FIBER 1
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 5
SSP_RICH_FIBER 2
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 5
SSP_RICH_FIBER 2
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 5
SSP_RICH_FIBER 2
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 5
SSP_RICH_FIBER 3
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 5
SSP_RICH_FIBER 3
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 5
SSP_RICH_FIBER 3
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 228

SSP_SLOT 5
SSP_RICH_FIBER 4
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 4
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 5
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 5
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 5
SSP_RICH_FIBER 5
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 5
SSP_RICH_FIBER 6
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 5
SSP_RICH_FIBER 6
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 5
SSP_RICH_FIBER 6
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 7
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 5
SSP_RICH_FIBER 7
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 205

SSP_SLOT 5
SSP_RICH_FIBER 7
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 8
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 5
SSP_RICH_FIBER 8
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 5
SSP_RICH_FIBER 8
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 5
SSP_RICH_FIBER 9
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 5
SSP_RICH_FIBER 9
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 9
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 5
SSP_RICH_FIBER 10
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 5
SSP_RICH_FIBER 10
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 10
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 5
SSP_RICH_FIBER 11
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 5
SSP_RICH_FIBER 11
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 5
SSP_RICH_FIBER 11
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 12
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 5
SSP_RICH_FIBER 12
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 5
SSP_RICH_FIBER 12
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 5
SSP_RICH_FIBER 13
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 5
SSP_RICH_FIBER 13
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 204

SSP_SLOT 5
SSP_RICH_FIBER 13
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 5
SSP_RICH_FIBER 14
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 226

SSP_SLOT 5
SSP_RICH_FIBER 14
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 14
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 204

SSP_SLOT 5
SSP_RICH_FIBER 16
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 206

SSP_SLOT 5
SSP_RICH_FIBER 16
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 16
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 17
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 5
SSP_RICH_FIBER 17
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 5
SSP_RICH_FIBER 17
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 18
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 18
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 5
SSP_RICH_FIBER 18
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 5
SSP_RICH_FIBER 19
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 5
SSP_RICH_FIBER 19
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 20
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 5
SSP_RICH_FIBER 20
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 5
SSP_RICH_FIBER 21
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 5
SSP_RICH_FIBER 21
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 5
SSP_RICH_FIBER 21
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 5
SSP_RICH_FIBER 22
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 205

SSP_SLOT 5
SSP_RICH_FIBER 22
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 5
SSP_RICH_FIBER 22
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 5
SSP_RICH_FIBER 23
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 5
SSP_RICH_FIBER 23
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 227

SSP_SLOT 5
SSP_RICH_FIBER 23
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 24
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 24
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 223

SSP_SLOT 5
SSP_RICH_FIBER 24
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 224

SSP_SLOT 5
SSP_RICH_FIBER 25
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 5
SSP_RICH_FIBER 25
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 5
SSP_RICH_FIBER 25
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 26
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 203

SSP_SLOT 5
SSP_RICH_FIBER 26
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 5
SSP_RICH_FIBER 26
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 5
SSP_RICH_FIBER 27
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 5
SSP_RICH_FIBER 27
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 5
SSP_RICH_FIBER 27
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 5
SSP_RICH_FIBER 28
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 5
SSP_RICH_FIBER 28
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 5
SSP_RICH_FIBER 29
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 5
SSP_RICH_FIBER 29
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 5
SSP_RICH_FIBER 29
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 5
SSP_RICH_FIBER 30
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 5
SSP_RICH_FIBER 30
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 5
SSP_RICH_FIBER 30
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 5
SSP_RICH_FIBER 31
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 5
SSP_RICH_FIBER 31
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 5
SSP_RICH_FIBER 31
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 6
SSP_RICH_FIBER 0
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 206

SSP_SLOT 6
SSP_RICH_FIBER 0
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 6
SSP_RICH_FIBER 0
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 6
SSP_RICH_FIBER 1
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 1
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 1
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 2
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 6
SSP_RICH_FIBER 2
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 2
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 6
SSP_RICH_FIBER 3
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 6
SSP_RICH_FIBER 3
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 6
SSP_RICH_FIBER 3
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 4
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 4
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 6
SSP_RICH_FIBER 4
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 224

SSP_SLOT 6
SSP_RICH_FIBER 5
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 5
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 5
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 6
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 6
SSP_RICH_FIBER 6
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 6
SSP_RICH_FIBER 6
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 6
SSP_RICH_FIBER 7
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 6
SSP_RICH_FIBER 7
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 6
SSP_RICH_FIBER 7
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 6
SSP_RICH_FIBER 8
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 8
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 6
SSP_RICH_FIBER 8
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 9
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 9
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 9
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 6
SSP_RICH_FIBER 10
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 10
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 10
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 6
SSP_RICH_FIBER 11
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 11
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 6
SSP_RICH_FIBER 12
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 6
SSP_RICH_FIBER 12
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 12
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 13
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 225

SSP_SLOT 6
SSP_RICH_FIBER 13
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 6
SSP_RICH_FIBER 13
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 6
SSP_RICH_FIBER 14
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 6
SSP_RICH_FIBER 14
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 202

SSP_SLOT 6
SSP_RICH_FIBER 14
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 6
SSP_RICH_FIBER 15
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 202

SSP_SLOT 6
SSP_RICH_FIBER 15
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 6
SSP_RICH_FIBER 15
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 6
SSP_RICH_FIBER 16
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 6
SSP_RICH_FIBER 16
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 16
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 6
SSP_RICH_FIBER 17
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 6
SSP_RICH_FIBER 17
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 6
SSP_RICH_FIBER 17
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 6
SSP_RICH_FIBER 18
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 6
SSP_RICH_FIBER 18
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 6
SSP_RICH_FIBER 18
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 6
SSP_RICH_FIBER 19
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 6
SSP_RICH_FIBER 19
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 6
SSP_RICH_FIBER 19
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 6
SSP_RICH_FIBER 20
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 6
SSP_RICH_FIBER 20
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 6
SSP_RICH_FIBER 20
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 6
SSP_RICH_FIBER 21
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 21
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 6
SSP_RICH_FIBER 21
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 6
SSP_RICH_FIBER 22
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 22
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 22
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 6
SSP_RICH_FIBER 23
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 23
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 6
SSP_RICH_FIBER 23
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 6
SSP_RICH_FIBER 24
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 204

SSP_SLOT 6
SSP_RICH_FIBER 24
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 6
SSP_RICH_FIBER 24
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 26
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 6
SSP_RICH_FIBER 26
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 219

SSP_SLOT 6
SSP_RICH_FIBER 26
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 27
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 27
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 6
SSP_RICH_FIBER 27
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 6
SSP_RICH_FIBER 28
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 6
SSP_RICH_FIBER 28
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 6
SSP_RICH_FIBER 28
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 6
SSP_RICH_FIBER 29
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 6
SSP_RICH_FIBER 29
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 215

SSP_SLOT 6
SSP_RICH_FIBER 29
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 6
SSP_RICH_FIBER 30
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 6
SSP_RICH_FIBER 30
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 6
SSP_RICH_FIBER 30
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 6
SSP_RICH_FIBER 31
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 6
SSP_RICH_FIBER 31
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 6
SSP_RICH_FIBER 31
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 7
SSP_RICH_FIBER 0
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 222

SSP_SLOT 7
SSP_RICH_FIBER 0
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 7
SSP_RICH_FIBER 0
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 199

SSP_SLOT 7
SSP_RICH_FIBER 1
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 211

SSP_SLOT 7
SSP_RICH_FIBER 1
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 203

SSP_SLOT 7
SSP_RICH_FIBER 1
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 7
SSP_RICH_FIBER 2
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 7
SSP_RICH_FIBER 2
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 223

SSP_SLOT 7
SSP_RICH_FIBER 2
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 209

SSP_SLOT 7
SSP_RICH_FIBER 3
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 7
SSP_RICH_FIBER 3
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 7
SSP_RICH_FIBER 4
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 221

SSP_SLOT 7
SSP_RICH_FIBER 4
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 7
SSP_RICH_FIBER 4
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 7
SSP_RICH_FIBER 5
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 7
SSP_RICH_FIBER 5
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 7
SSP_RICH_FIBER 5
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 7
SSP_RICH_FIBER 6
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 218

SSP_SLOT 7
SSP_RICH_FIBER 6
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 208

SSP_SLOT 7
SSP_RICH_FIBER 6
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 226

SSP_SLOT 7
SSP_RICH_FIBER 7
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 7
SSP_RICH_FIBER 7
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 7
SSP_RICH_FIBER 7
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 224

SSP_SLOT 7
SSP_RICH_FIBER 8
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 7
SSP_RICH_FIBER 8
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 7
SSP_RICH_FIBER 9
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 207

SSP_SLOT 7
SSP_RICH_FIBER 9
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 217

SSP_SLOT 7
SSP_RICH_FIBER 11
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 7
SSP_RICH_FIBER 11
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 7
SSP_RICH_FIBER 11
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 7
SSP_RICH_FIBER 12
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 220

SSP_SLOT 7
SSP_RICH_FIBER 12
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 212

SSP_SLOT 7
SSP_RICH_FIBER 12
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 7
SSP_RICH_FIBER 13
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 213

SSP_SLOT 7
SSP_RICH_FIBER 13
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 210

SSP_SLOT 7
SSP_RICH_FIBER 14
SSP_RICH_ASIC 0
SSP_RICH_MAROC_REG_DAC0 214

SSP_SLOT 7
SSP_RICH_FIBER 14
SSP_RICH_ASIC 1
SSP_RICH_MAROC_REG_DAC0 216

SSP_SLOT 7
SSP_RICH_FIBER 14
SSP_RICH_ASIC 2
SSP_RICH_MAROC_REG_DAC0 210

SSP_CRATE end
