VTP_CRATE adcft2vtp

VTP_FIRMWARE fe_vtp_hallb_v7_ftcal2.bin

##VTP_W_OFFSET 7900
VTP_W_OFFSET 7650
VTP_W_WIDTH 400

#        slot: 10 13  9 14  8 15  7 16  6 17  5 18  4 19  3 20
#     payload:  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16
VTP_PAYLOAD_EN  1  1  1  1  1  0  1  0  1  0  1  0  1  0  1  0

#      fiber:  1  2  3  4
VTP_FIBER_EN   1  1  0  0

# Cluster seed energy threshold <emin=1-8191>
VTP_FTCAL_SEED_EMIN   1

# Cluster timing coincidence +/- around seed hit <dt=0-16ns>
VTP_FTCAL_SEED_DT   16

VTP_CRATE end
