#
# hps2
#
FADC250_CRATE hps2


FADC250_SLOT all

FADC250_DAC  3280

#FADC250_W_OFFSET  1200
#FADC250_W_WIDTH   400


# LED:
#FADC250_W_OFFSET 3180
# COSMICS:
#FADC250_W_OFFSET  3420
# Ben's expected for cosmics:
#FADC250_W_OFFSET  2820
# AFTER FIRMWARE CHANGES:
#FADC250_W_OFFSET 3180

# 2019:
FADC250_W_WIDTH   384

# LED 2019:
FADC250_W_OFFSET  2460

# COSMIC 2019:
#FADC250_W_OFFSET  2700

#raw mode
FADC250_MODE      7
FADC250_NSB       20
FADC250_NSA       100
FADC250_NPEAK     1

#pulse mode
#FADC250_MODE      7
#FADC250_NSB       16
#FADC250_NSA       100
#FADC250_NPEAK     3

#       channel:        0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FADC250_ADC_MASK        1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
FADC250_TRG_MASK        1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
#FADC250_TET_IGNORE_MASK 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
FADC250_TET_IGNORE_MASK 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

#
# in range (0-4095) inclusuve
#FADC250_TET 12
#FADC250_TET 14
#FADC250_TET 18
#FADC250_TET 24
#FADC250_TET 50
FADC250_TET 100
#FADC250_TET 500


# BIG GAINS TO EMULATE BEAM DATA WITH COSMICS:
FADC250_GAIN 10.0


# This was supposed to set high threshold on all channels,
# then to be overwritten by pmt channels below in order to
# decrease data size by factor of two by ignoring the bottom
# ecal.  Result was instead zero triggers (except for 1Hz pulser).
#FADC250_TET 3500

# Set cosmic system trigger threshold
# 12bit -> 1V: 40 = ~10mV threshold
# relative to pedestal
FADC250_SLOT      20
FADC250_CH_TET    13   70
FADC250_CH_TET    14   70
FADC250_CH_TET    15   70
#       channel:        0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
#FADC250_TET_IGNORE_MASK 1  1  1  1  1  1  1  1  1  1  1  1  1  0  0  0
FADC250_TET_IGNORE_MASK 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

FADC250_SLOT 10
FADC250_TET  20
FADC250_GAIN 1.0

FADC250_CONF_FILE hps2_ped.cnf

FADC250_CRATE end
