

# include trigger/CTOF_HTCC/ctof_cosmic.trg

#
# tdc calibration trigger file: take data with internal pulser and low discr thresholds
#  (ssh clasrun@clonsl2, type 'fcmon', pick sector, detector and dsc2)
#

#
# TI settings
#
TI_CRATE adcctof1
TI_FIBER_DELAY_OFFSET 0x80 0xcf
TI_BLOCK_LEVEL 1
TI_BUFFER_LEVEL 1

## ts1, ts2, ts3, ts4, ts5, ts6
TI_INPUT_MASK 1 0 0 0 0 0

## trigger rules
## 1 trigger in Nx0.48us
##TI_HOLDOFF 1 50 0
## 4 triggers in Nx3.84us
##TI_HOLDOFF 4 10 1
##500kHz / 2^15 => ~15Hz random
##TI_RANDOM_TRIGGER 1 3

TI_CRATE end


#
# FADCs
#
FADC250_CRATE adcctof1
FADC250_SLOT all

FADC250_W_OFFSET  1400
FADC250_W_WIDTH   400

FADC250_SLOT 13
FADC250_ADC_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
FADC250_TRG_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
FADC250_SLOT 14
FADC250_ADC_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
FADC250_TRG_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
FADC250_SLOT 15
FADC250_ADC_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
FADC250_TRG_MASK  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

FADC250_CRATE end


# include trigger/CTOF_HTCC/adcctof1_ped_cosmic.cnf

FADC250_CRATE adcctof1
FADC250_SLOT 3
FADC250_TET 20
FADC250_ALLCH_PED  116.229  102.218  102.902  101.321   99.051   80.344  146.162   98.027  125.499  102.141  108.177   91.796  117.292  106.230  107.963  123.709
FADC250_SLOT 4
FADC250_TET 20
FADC250_ALLCH_PED  136.355  141.667  113.728   77.648  101.296  112.943  111.768  132.398  154.590  168.694  116.738  108.247  140.550  107.384  113.653  109.115
FADC250_SLOT 5
FADC250_TET 20
FADC250_ALLCH_PED  110.627  109.331  143.230  146.247  149.951  152.592  147.523  155.607  112.774  155.627  159.957  160.644  133.387  130.698  150.350  158.610
FADC250_SLOT 6
FADC250_TET 20
FADC250_ALLCH_PED  128.549  115.673  109.843  135.776   75.796  117.560  131.153  103.679  126.728  128.067  100.951  125.254   94.152  142.218  124.120  106.835
FADC250_SLOT 7
FADC250_TET 20
FADC250_ALLCH_PED   90.327  121.980   93.660   94.262   89.269  125.218  131.499  117.481  114.895  108.816  100.932   97.378  119.365   99.494  114.061   74.710
FADC250_SLOT 8
FADC250_TET 20
FADC250_ALLCH_PED  125.246  111.659  133.249  133.330  157.840  133.120  108.566   84.769  139.837  121.479  118.901  151.707  145.721  130.169  139.345  103.383
FADC250_SLOT 13
FADC250_TET 15
FADC250_ALLCH_PED   92.229  112.749  129.384   67.532   89.436  119.716   99.237   88.144   70.141  139.769  114.187   90.328   90.281  104.123   72.257  124.552
FADC250_SLOT 14
FADC250_TET 15
FADC250_ALLCH_PED   98.001   82.872   90.940   81.580   88.140   91.201   92.438   94.413   43.912   71.718  114.192   94.507   93.631   83.634   72.446  103.157
FADC250_SLOT 15
FADC250_TET 15
FADC250_ALLCH_PED   47.838   94.644  106.132   93.174  101.346   81.368  104.452   81.963  109.441   90.711   98.563   81.947   78.236  121.632   75.974   94.384
FADC250_CRATE end

# include trigger/CND/cnd_ctof_cosmic.cnf

#
# cnd cosmic
#
# FADCs
#
FADC250_CRATE adccnd1
FADC250_SLOT all

##FADC250_COMPRESSION  2

FADC250_W_OFFSET  1860
#FADC250_W_WIDTH   400
FADC250_W_WIDTH   384

FADC250_TET 60

# include trigger/PEDS/hv_on/adccnd1_ped.cnf

FADC250_CRATE adccnd1
FADC250_SLOT 3
FADC250_ALLCH_PED  166.294  155.699  174.862  165.058  168.702  164.386  169.878  229.335  181.316  267.427  184.701  136.029  198.599  166.188  190.028  177.544
FADC250_SLOT 4
FADC250_ALLCH_PED  178.447  170.657  161.063  172.026  208.269  182.218  187.116  197.729  183.290  184.172  176.816  217.352  186.567  172.851  195.622  162.884
FADC250_SLOT 5
FADC250_ALLCH_PED  145.551  142.318  176.024  154.546  154.367  177.085  172.204  180.539  200.647  171.551  219.266  165.062  141.401  201.340  149.548  207.567
FADC250_SLOT 6
FADC250_ALLCH_PED  162.541  188.239  173.537  127.241  112.932  207.973  171.708  158.000  193.618  207.382  178.660  162.923  219.331  193.169  172.972  182.115
FADC250_SLOT 7
FADC250_ALLCH_PED  202.383  192.641  224.157  200.878  218.565  228.378  227.169  212.424  223.352  188.499  214.187  222.127  206.203  178.718  212.091  184.528
FADC250_SLOT 8
FADC250_ALLCH_PED  195.568  174.105  166.029  118.285  211.881  198.751  190.022  200.090  196.607  213.322  217.431  198.404  190.321  222.511  194.429  216.099
FADC250_SLOT 9
FADC250_ALLCH_PED  160.204  174.088  161.997  132.593  150.909  158.259  178.771  195.558  161.625  174.936  184.069  166.045  170.542  180.850  171.768  165.396
FADC250_SLOT 10
FADC250_ALLCH_PED  176.895  191.481  205.762  177.181  243.065  194.719  205.432  184.922  157.890  161.181  171.957  143.612  161.827  137.600  158.136  169.460
FADC250_SLOT 13
FADC250_ALLCH_PED  195.195  175.291  179.119  174.976  168.859  168.327  126.825  226.745  191.906  150.627  168.789  164.146  190.196  177.352  166.700  158.065
FADC250_CRATE end
FADC250_CRATE end


#
# TDCs
#

TDC1190_CRATE adccnd1
TDC1190_SLOT all

TDC1190_W_OFFSET -2000
TDC1190_W_WIDTH   2000

TDC1190_CRATE end

#
# TDCs
#

TDC1190_CRATE tdcctof1
TDC1190_SLOT all

TDC1190_W_OFFSET -1500
TDC1190_W_WIDTH    400

TDC1190_CRATE end

# include trigger/SVT/svt_prod.trg


# SVT thresholds

VSCM_CRATE svt1

VSCM_SLOT 3

# include trigger/SVT/high_thresholds.cnf


# Set discriminators on U3,U4 FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        30 
FSSR_ADDR_REG_DISC_THR        3        0        30
FSSR_ADDR_REG_DISC_THR        6        0        30
FSSR_ADDR_REG_DISC_THR        7        0        30

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50
FSSR_ADDR_REG_DISC_THR        6        1        50
FSSR_ADDR_REG_DISC_THR        7        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65
FSSR_ADDR_REG_DISC_THR        6        2        65
FSSR_ADDR_REG_DISC_THR        7        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80
FSSR_ADDR_REG_DISC_THR        6        3        80
FSSR_ADDR_REG_DISC_THR        7        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95
FSSR_ADDR_REG_DISC_THR        6        4        95
FSSR_ADDR_REG_DISC_THR        7        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110
FSSR_ADDR_REG_DISC_THR        6        5        110
FSSR_ADDR_REG_DISC_THR        7        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125
FSSR_ADDR_REG_DISC_THR        6        6        125
FSSR_ADDR_REG_DISC_THR        7        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140
FSSR_ADDR_REG_DISC_THR        6        7        140
FSSR_ADDR_REG_DISC_THR        7        7        140

VSCM_SLOT 3

# include trigger/SVT/high_thresholds_r1s2b.cnf


# Set discriminators on FSSR2 chips
FSSR_ADDR_REG_DISC_THR        6        0        33
FSSR_ADDR_REG_DISC_THR        7        0        33

FSSR_ADDR_REG_DISC_THR        6        1        50
FSSR_ADDR_REG_DISC_THR        7        1        50

FSSR_ADDR_REG_DISC_THR        6        2        65
FSSR_ADDR_REG_DISC_THR        7        2        65

FSSR_ADDR_REG_DISC_THR        6        3        80
FSSR_ADDR_REG_DISC_THR        7        3        80

FSSR_ADDR_REG_DISC_THR        6        4        95
FSSR_ADDR_REG_DISC_THR        7        4        95

FSSR_ADDR_REG_DISC_THR        6        5        110
FSSR_ADDR_REG_DISC_THR        7        5        110

FSSR_ADDR_REG_DISC_THR        6        6        125
FSSR_ADDR_REG_DISC_THR        7        6        125

FSSR_ADDR_REG_DISC_THR        6        7        140
FSSR_ADDR_REG_DISC_THR        7        7        140

VSCM_SLOT 4

# include trigger/SVT/high_thresholds.cnf


# Set discriminators on U3,U4 FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        30 
FSSR_ADDR_REG_DISC_THR        3        0        30
FSSR_ADDR_REG_DISC_THR        6        0        30
FSSR_ADDR_REG_DISC_THR        7        0        30

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50
FSSR_ADDR_REG_DISC_THR        6        1        50
FSSR_ADDR_REG_DISC_THR        7        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65
FSSR_ADDR_REG_DISC_THR        6        2        65
FSSR_ADDR_REG_DISC_THR        7        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80
FSSR_ADDR_REG_DISC_THR        6        3        80
FSSR_ADDR_REG_DISC_THR        7        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95
FSSR_ADDR_REG_DISC_THR        6        4        95
FSSR_ADDR_REG_DISC_THR        7        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110
FSSR_ADDR_REG_DISC_THR        6        5        110
FSSR_ADDR_REG_DISC_THR        7        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125
FSSR_ADDR_REG_DISC_THR        6        6        125
FSSR_ADDR_REG_DISC_THR        7        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140
FSSR_ADDR_REG_DISC_THR        6        7        140
FSSR_ADDR_REG_DISC_THR        7        7        140

VSCM_SLOT 5

# include trigger/SVT/high_thresholds.cnf


# Set discriminators on U3,U4 FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        30 
FSSR_ADDR_REG_DISC_THR        3        0        30
FSSR_ADDR_REG_DISC_THR        6        0        30
FSSR_ADDR_REG_DISC_THR        7        0        30

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50
FSSR_ADDR_REG_DISC_THR        6        1        50
FSSR_ADDR_REG_DISC_THR        7        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65
FSSR_ADDR_REG_DISC_THR        6        2        65
FSSR_ADDR_REG_DISC_THR        7        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80
FSSR_ADDR_REG_DISC_THR        6        3        80
FSSR_ADDR_REG_DISC_THR        7        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95
FSSR_ADDR_REG_DISC_THR        6        4        95
FSSR_ADDR_REG_DISC_THR        7        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110
FSSR_ADDR_REG_DISC_THR        6        5        110
FSSR_ADDR_REG_DISC_THR        7        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125
FSSR_ADDR_REG_DISC_THR        6        6        125
FSSR_ADDR_REG_DISC_THR        7        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140
FSSR_ADDR_REG_DISC_THR        6        7        140
FSSR_ADDR_REG_DISC_THR        7        7        140

VSCM_SLOT 7

# include trigger/SVT/high_thresholds_c1_bottom_r2s1b.cnf

# Set discriminators on FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        31
FSSR_ADDR_REG_DISC_THR        3        0        31

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140

VSCM_SLOT 8

# include trigger/SVT/high_thresholds_c1_bottom_r2s3b.cnf


# Set discriminators on FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        34
FSSR_ADDR_REG_DISC_THR        3        0        34

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140


# include trigger/SVT/killmask_svt1.cnf

# FSSR_ADDR_REG_KILL_STRIP <chip 0-7> <strip 0-127>
VSCM_CRATE svt1
VSCM_SLOT 3
#R1S1B strips 172 173 10/08/2018 YG added 43(171) on 10/16/2018
FSSR_ADDR_REG_KILL_STRIP 3  43
FSSR_ADDR_REG_KILL_STRIP 3  44
FSSR_ADDR_REG_KILL_STRIP 3  45

VSCM_SLOT 7
#R2S1B
FSSR_ADDR_REG_KILL_STRIP 2  68
FSSR_ADDR_REG_KILL_STRIP 2  69
FSSR_ADDR_REG_KILL_STRIP 2  70
FSSR_ADDR_REG_KILL_STRIP 2  71

VSCM_SLOT 8
#R2S3B
FSSR_ADDR_REG_KILL_STRIP 3  8
FSSR_ADDR_REG_KILL_STRIP 3  9
FSSR_ADDR_REG_KILL_STRIP 3  10
FSSR_ADDR_REG_KILL_STRIP 3  11

VSCM_SLOT 17
#R3S18B 10/19/2018 YG added strips 1 and 3 10/20/2018 YG added strips 0 and 4
FSSR_ADDR_REG_KILL_STRIP 3  0
FSSR_ADDR_REG_KILL_STRIP 3  1
FSSR_ADDR_REG_KILL_STRIP 3  2
FSSR_ADDR_REG_KILL_STRIP 3  3
FSSR_ADDR_REG_KILL_STRIP 3  4

VSCM_CRATE end
VSCM_CRATE end

VSCM_CRATE svt2

VSCM_SLOT 3

# include trigger/SVT/high_thresholds.cnf


# Set discriminators on U3,U4 FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        30 
FSSR_ADDR_REG_DISC_THR        3        0        30
FSSR_ADDR_REG_DISC_THR        6        0        30
FSSR_ADDR_REG_DISC_THR        7        0        30

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50
FSSR_ADDR_REG_DISC_THR        6        1        50
FSSR_ADDR_REG_DISC_THR        7        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65
FSSR_ADDR_REG_DISC_THR        6        2        65
FSSR_ADDR_REG_DISC_THR        7        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80
FSSR_ADDR_REG_DISC_THR        6        3        80
FSSR_ADDR_REG_DISC_THR        7        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95
FSSR_ADDR_REG_DISC_THR        6        4        95
FSSR_ADDR_REG_DISC_THR        7        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110
FSSR_ADDR_REG_DISC_THR        6        5        110
FSSR_ADDR_REG_DISC_THR        7        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125
FSSR_ADDR_REG_DISC_THR        6        6        125
FSSR_ADDR_REG_DISC_THR        7        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140
FSSR_ADDR_REG_DISC_THR        6        7        140
FSSR_ADDR_REG_DISC_THR        7        7        140


# include trigger/SVT/high_thresholds_r1s5t.cnf


# Set discriminators on FSSR2 chips
FSSR_ADDR_REG_DISC_THR        4        0        34
FSSR_ADDR_REG_DISC_THR        5        0        34

FSSR_ADDR_REG_DISC_THR        4        1        50
FSSR_ADDR_REG_DISC_THR        5        1        50

FSSR_ADDR_REG_DISC_THR        4        2        65
FSSR_ADDR_REG_DISC_THR        5        2        65

FSSR_ADDR_REG_DISC_THR        4        3        80
FSSR_ADDR_REG_DISC_THR        5        3        80

FSSR_ADDR_REG_DISC_THR        4        4        95
FSSR_ADDR_REG_DISC_THR        5        4        95

FSSR_ADDR_REG_DISC_THR        4        5        110
FSSR_ADDR_REG_DISC_THR        5        5        110

FSSR_ADDR_REG_DISC_THR        4        6        125
FSSR_ADDR_REG_DISC_THR        5        6        125

FSSR_ADDR_REG_DISC_THR        4        7        140
FSSR_ADDR_REG_DISC_THR        5        7        140

VSCM_SLOT 4

# include trigger/SVT/high_thresholds.cnf


# Set discriminators on U3,U4 FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        30 
FSSR_ADDR_REG_DISC_THR        3        0        30
FSSR_ADDR_REG_DISC_THR        6        0        30
FSSR_ADDR_REG_DISC_THR        7        0        30

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50
FSSR_ADDR_REG_DISC_THR        6        1        50
FSSR_ADDR_REG_DISC_THR        7        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65
FSSR_ADDR_REG_DISC_THR        6        2        65
FSSR_ADDR_REG_DISC_THR        7        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80
FSSR_ADDR_REG_DISC_THR        6        3        80
FSSR_ADDR_REG_DISC_THR        7        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95
FSSR_ADDR_REG_DISC_THR        6        4        95
FSSR_ADDR_REG_DISC_THR        7        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110
FSSR_ADDR_REG_DISC_THR        6        5        110
FSSR_ADDR_REG_DISC_THR        7        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125
FSSR_ADDR_REG_DISC_THR        6        6        125
FSSR_ADDR_REG_DISC_THR        7        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140
FSSR_ADDR_REG_DISC_THR        6        7        140
FSSR_ADDR_REG_DISC_THR        7        7        140

VSCM_SLOT 5

# include trigger/SVT/high_thresholds.cnf


# Set discriminators on U3,U4 FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        30 
FSSR_ADDR_REG_DISC_THR        3        0        30
FSSR_ADDR_REG_DISC_THR        6        0        30
FSSR_ADDR_REG_DISC_THR        7        0        30

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50
FSSR_ADDR_REG_DISC_THR        6        1        50
FSSR_ADDR_REG_DISC_THR        7        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65
FSSR_ADDR_REG_DISC_THR        6        2        65
FSSR_ADDR_REG_DISC_THR        7        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80
FSSR_ADDR_REG_DISC_THR        6        3        80
FSSR_ADDR_REG_DISC_THR        7        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95
FSSR_ADDR_REG_DISC_THR        6        4        95
FSSR_ADDR_REG_DISC_THR        7        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110
FSSR_ADDR_REG_DISC_THR        6        5        110
FSSR_ADDR_REG_DISC_THR        7        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125
FSSR_ADDR_REG_DISC_THR        6        6        125
FSSR_ADDR_REG_DISC_THR        7        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140
FSSR_ADDR_REG_DISC_THR        6        7        140
FSSR_ADDR_REG_DISC_THR        7        7        140

VSCM_SLOT 7

# include trigger/SVT/high_thresholds_c1_bottom_r2s5b.cnf


# Set discriminators on FSSR2 chips
FSSR_ADDR_REG_DISC_THR        2        0        33
FSSR_ADDR_REG_DISC_THR        3        0        33

FSSR_ADDR_REG_DISC_THR        2        1        50
FSSR_ADDR_REG_DISC_THR        3        1        50

FSSR_ADDR_REG_DISC_THR        2        2        65
FSSR_ADDR_REG_DISC_THR        3        2        65

FSSR_ADDR_REG_DISC_THR        2        3        80
FSSR_ADDR_REG_DISC_THR        3        3        80

FSSR_ADDR_REG_DISC_THR        2        4        95
FSSR_ADDR_REG_DISC_THR        3        4        95

FSSR_ADDR_REG_DISC_THR        2        5        110
FSSR_ADDR_REG_DISC_THR        3        5        110

FSSR_ADDR_REG_DISC_THR        2        6        125
FSSR_ADDR_REG_DISC_THR        3        6        125

FSSR_ADDR_REG_DISC_THR        2        7        140
FSSR_ADDR_REG_DISC_THR        3        7        140

VSCM_SLOT 9

# include trigger/SVT/high_thresholds_c2_top_r2s10t.cnf


# Set discriminators on FSSR2 chips
FSSR_ADDR_REG_DISC_THR        4        0        32
FSSR_ADDR_REG_DISC_THR        5        0        32

FSSR_ADDR_REG_DISC_THR        4        1        50
FSSR_ADDR_REG_DISC_THR        5        1        50

FSSR_ADDR_REG_DISC_THR        4        2        65
FSSR_ADDR_REG_DISC_THR        5        2        65

FSSR_ADDR_REG_DISC_THR        4        3        80
FSSR_ADDR_REG_DISC_THR        5        3        80

FSSR_ADDR_REG_DISC_THR        4        4        95
FSSR_ADDR_REG_DISC_THR        5        4        95

FSSR_ADDR_REG_DISC_THR        4        5        110
FSSR_ADDR_REG_DISC_THR        5        5        110

FSSR_ADDR_REG_DISC_THR        4        6        125
FSSR_ADDR_REG_DISC_THR        5        6        125

FSSR_ADDR_REG_DISC_THR        4        7        140
FSSR_ADDR_REG_DISC_THR        5        7        140

#include trigger/SVT/killmask_r2s10t.cnf

# include trigger/SVT/killmask_svt2.cnf

VSCM_CRATE svt2

VSCM_SLOT 4
#R1S6T strip 145 01/25/2019 YG
FSSR_ADDR_REG_KILL_STRIP 1  16

VSCM_SLOT 9
# FSSR_ADDR_REG_KILL_STRIP <chip 0-7> <strip 0-127>
#R2S10T
FSSR_ADDR_REG_KILL_STRIP 4  36
FSSR_ADDR_REG_KILL_STRIP 4  37
FSSR_ADDR_REG_KILL_STRIP 4  38
FSSR_ADDR_REG_KILL_STRIP 4  39

VSCM_SLOT 7
#R2S5B
FSSR_ADDR_REG_KILL_STRIP 2  109
FSSR_ADDR_REG_KILL_STRIP 2  110
FSSR_ADDR_REG_KILL_STRIP 2  111
FSSR_ADDR_REG_KILL_STRIP 2  112

VSCM_SLOT 16
#R3S12U4 strip 176 08/11/2018 YG, 175, 177 01/25/2019
FSSR_ADDR_REG_KILL_STRIP 3  46
FSSR_ADDR_REG_KILL_STRIP 3  47
FSSR_ADDR_REG_KILL_STRIP 3  48

VSCM_CRATE end
VSCM_CRATE end
#include trigger/SVT/killmask.cnf


TS_CRATE trig1

###TS_FIBER_DELAY_OFFSET 0x80 0xcf

TS_BLOCK_LEVEL 1
TS_BUFFER_LEVEL 1
#TS_BLOCK_LEVEL 1
#TS_BUFFER_LEVEL 8

#TS_HOLDOFF 1 60 1
#TS_HOLDOFF 2 60 1
#TS_HOLDOFF 3 60 1
#TS_HOLDOFF 4 60 1
TS_HOLDOFF 1 30 1
TS_HOLDOFF 2 30 1
TS_HOLDOFF 3 30 1
TS_HOLDOFF 4 30 1

#TS_INPUT_PRESCALE 1 0
#TS_INPUT_PRESCALE 2 0
#TS_INPUT_PRESCALE 3 0
#TS_INPUT_PRESCALE 4 0
#TS_INPUT_PRESCALE 5 0
#TS_INPUT_PRESCALE 6 0

#SD trigger
TS_GTP_INPUT_MASK 0x00000000
TS_FP_INPUT_MASK 0x00000200

TS_RANDOM_TRIGGER 0 3
TS_CRATE end


#
# FADCs
#
FADC250_CRATE adcctof1
FADC250_SLOT all
FADC250_COMPRESSION  2
FADC250_W_OFFSET  1860
FADC250_W_WIDTH   192
FADC250_CRATE end

# include trigger/CTOF_HTCC/adcctof1_ped_cosmic.cnf

FADC250_CRATE adcctof1
FADC250_SLOT 3
FADC250_TET 20
FADC250_ALLCH_PED  116.229  102.218  102.902  101.321   99.051   80.344  146.162   98.027  125.499  102.141  108.177   91.796  117.292  106.230  107.963  123.709
FADC250_SLOT 4
FADC250_TET 20
FADC250_ALLCH_PED  136.355  141.667  113.728   77.648  101.296  112.943  111.768  132.398  154.590  168.694  116.738  108.247  140.550  107.384  113.653  109.115
FADC250_SLOT 5
FADC250_TET 20
FADC250_ALLCH_PED  110.627  109.331  143.230  146.247  149.951  152.592  147.523  155.607  112.774  155.627  159.957  160.644  133.387  130.698  150.350  158.610
FADC250_SLOT 6
FADC250_TET 20
FADC250_ALLCH_PED  128.549  115.673  109.843  135.776   75.796  117.560  131.153  103.679  126.728  128.067  100.951  125.254   94.152  142.218  124.120  106.835
FADC250_SLOT 7
FADC250_TET 20
FADC250_ALLCH_PED   90.327  121.980   93.660   94.262   89.269  125.218  131.499  117.481  114.895  108.816  100.932   97.378  119.365   99.494  114.061   74.710
FADC250_SLOT 8
FADC250_TET 20
FADC250_ALLCH_PED  125.246  111.659  133.249  133.330  157.840  133.120  108.566   84.769  139.837  121.479  118.901  151.707  145.721  130.169  139.345  103.383
FADC250_SLOT 13
FADC250_TET 15
FADC250_ALLCH_PED   92.229  112.749  129.384   67.532   89.436  119.716   99.237   88.144   70.141  139.769  114.187   90.328   90.281  104.123   72.257  124.552
FADC250_SLOT 14
FADC250_TET 15
FADC250_ALLCH_PED   98.001   82.872   90.940   81.580   88.140   91.201   92.438   94.413   43.912   71.718  114.192   94.507   93.631   83.634   72.446  103.157
FADC250_SLOT 15
FADC250_TET 15
FADC250_ALLCH_PED   47.838   94.644  106.132   93.174  101.346   81.368  104.452   81.963  109.441   90.711   98.563   81.947   78.236  121.632   75.974   94.384
FADC250_CRATE end

#
# TDCs
#
TDC1190_CRATE tdcctof1
TDC1190_SLOT all
TDC1190_W_OFFSET -2060
TDC1190_W_WIDTH    400
TDC1190_CRATE end

# FADCs
FADC250_CRATE adccnd1
FADC250_SLOT all
##FADC250_W_OFFSET  1760
# Default
FADC250_W_OFFSET  1860
# Youri running
#FADC250_W_OFFSET 2050
#FADC250_W_WIDTH   400

# include trigger/PEDS/hv_off/adccnd1_ped.cnf

FADC250_CRATE adccnd1
FADC250_SLOT 3
FADC250_ALLCH_PED  168.091  158.570  174.791  167.272  171.673  167.428  172.052  232.309  183.386  268.686  185.854  138.377  200.331  168.183  191.731  179.545
FADC250_SLOT 4
FADC250_ALLCH_PED  179.529  172.874  163.778  174.491  210.999  184.733  189.397  199.649  187.395  188.887  181.048  222.463  191.163  176.841  200.179  166.694
FADC250_SLOT 5
FADC250_ALLCH_PED  146.239  142.804  176.304  154.935  154.361  177.460  171.741  180.856  203.931  175.018  222.617  168.081  144.512  204.562  152.801  210.815
FADC250_SLOT 6
FADC250_ALLCH_PED  164.111  190.605  175.204  128.222  114.702  208.511  170.826  159.436  196.677  209.190  180.390  164.889  220.424  194.218  174.157  182.457
FADC250_SLOT 7
FADC250_ALLCH_PED  202.932  193.705  224.946  202.016  219.554  228.629  228.608  213.219  223.074  189.037  214.421  221.888  206.168  178.243  212.554  184.969
FADC250_SLOT 8
FADC250_ALLCH_PED  198.916  178.163  169.422  121.856  215.918  203.431  193.865  204.352  194.364  210.579  215.206  196.487  188.453  220.262  192.138  213.724
FADC250_SLOT 9
FADC250_ALLCH_PED  160.105  174.069  161.866  132.490  150.962  158.171  178.423  194.688  161.589  175.168  184.134  166.192  170.744  181.682  171.846  164.743
FADC250_SLOT 10
FADC250_ALLCH_PED  181.771  195.707  210.812  180.929  247.693  198.942  208.872  189.829  158.485  161.639  172.679  143.542  162.087  137.654  157.162  170.592
FADC250_SLOT 13
FADC250_ALLCH_PED  197.362  177.141  181.563  176.914  171.037  170.496  129.546  229.587  187.149  146.268  164.172  161.454  186.084  172.982  162.461  152.534
FADC250_CRATE end

# mask off hot channel slot 4 channel 9(from 0)
FADC250_SLOT 4
#####FADC250_CH_TET  9  500
#FADC250_TRG_MASK  1  1  1  1  1  1  1  1  1  0  1  1  1  1  1  1
#FADC250_ADC_MASK  1  1  1  1  1  1  1  1  1  0  1  1  1  1  1  1
#FADC250_ADC_MASK  1  1  1  1  1  1  0  1  1  1  1  1  1  1  1  1

FADC250_CRATE end


#
# TDCs
#
TDC1190_CRATE adccnd1
TDC1190_SLOT all
# Default
TDC1190_W_OFFSET -2000
#TDC1190_W_WIDTH   2000
# Youri running
TDC1190 W_OFFSET -2060
TDC1190_CRATE end
