#
# CTOF/HTCC pedestals
#
FADC250_CRATE adcctof1
include trigger/CTOF_HTCC/adcctof1_ped.cnf
FADC250_CRATE end

FADC250_CRATE adcctof1
include trigger/CTOF_HTCC/adcctof1_gain.cnf
FADC250_CRATE end

include trigger/CTOF_HTCC/tdcctof1.cnf

#
# extra shift for CTOF
#
FADC250_CRATE adcctof1

FADC250_SLOT 3
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_SLOT 4
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_SLOT 5
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_SLOT 6
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_SLOT 7
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_SLOT 8
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730

FADC250_SLOT 13
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_TRG_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

FADC250_SLOT 14
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_TRG_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

FADC250_SLOT 15
##FADC250_W_OFFSET  7980
FADC250_W_OFFSET  7730
FADC250_TRG_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

FADC250_CRATE end
