#
# DAQ config file
#
#  
#

DAQ_CRATE svt2
DAQ_REPORT_RAW_DATA 0
DAQ_CRATE end

DAQ_CRATE svt4
DAQ_REPORT_RAW_DATA 0
DAQ_CRATE end

DAQ_CRATE svt5
DAQ_REPORT_RAW_DATA 0
DAQ_CRATE end

DAQ_CRATE svt7
DAQ_REPORT_RAW_DATA 0
DAQ_CRATE end

DAQ_CRATE mvt1
DAQ_REPORT_RAW_DATA 0
DAQ_CRATE end
