#
# DAQ config file
#
#  
#

DAQ_CRATE svt1
DAQ_REPORT_RAW_DATA 0
DAQ_CRATE end

DAQ_CRATE svt2
DAQ_REPORT_RAW_DATA 0
DAQ_CRATE end

#DAQ_CRATE svt3
#DAQ_REPORT_RAW_DATA 0
#DAQ_CRATE end

#DAQ_CRATE tdcecal4
#DAQ_REPORT_RAW_DATA 1
#DAQ_CRATE end

#DAQ_CRATE adcft1vtp
#DAQ_REPORT_RAW_DATA 1
#DAQ_CRATE end

#DAQ_CRATE adcft2vtp
#DAQ_REPORT_RAW_DATA 1
#DAQ_CRATE end

#DAQ_CRATE adcft3vtp
#DAQ_REPORT_RAW_DATA 1
#DAQ_CRATE end
