#
# DAQ config file
#
#  
#

DAQ_CRATE svt1
DAQ_REPORT_RAW_DATA 1
DAQ_CRATE end

DAQ_CRATE svt2
DAQ_REPORT_RAW_DATA 1
DAQ_CRATE end

DAQ_CRATE svt3
DAQ_REPORT_RAW_DATA 1
DAQ_CRATE end

DAQ_CRATE tdcecal4
DAQ_REPORT_RAW_DATA 1
DAQ_CRATE end
