VTP_CRATE trig2vtp

VTP_FIRMWARE fe_vtp_hallb_v7_gt.bin

VTP_W_OFFSET 7900
VTP_W_WIDTH 400

#        slot: 10 13  9 14  8 15  7 16  6 17  5 18  4 19  3 20
#     payload:  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16
VTP_PAYLOAD_EN  0  0  0  0  1  0  1  0  1  0  1  0  1  0  1  0

#      fiber:  1  2  3  4
VTP_FIBER_EN   0  0  0  0

# 6780 corresponds to 7900 FADC latency
#VTP_GT_LATENCY 6720
VTP_GT_LATENCY 6780

VTP_GT_WIDTH   16

# TRIGGER BITS: 
#              trig number 
#              |   ssp trig mask 
#              |   |   ssp sector mask        
#              |   |   |  multiplicity 
#              |   |   |  |  coincidence=#extended_clock_cycles 
#              |   |   |  |  |  ssp central trig mask
#                               |
VTP_GT_TRGBIT  0  15  63  1  1  0  # SSP STRG2, SECTOR 1-6
VTP_GT_TRGBIT  8  15   1  1  1  0  # SSP STRG0|1, SECTOR 1
VTP_GT_TRGBIT  9  15   2  1  1  0  # SSP STRG0|1, SECTOR 2
VTP_GT_TRGBIT  10 15   4  1  1  0  # SSP STRG0|1, SECTOR 3
VTP_GT_TRGBIT  11 15   8  1  1  0  # SSP STRG0|1, SECTOR 4
VTP_GT_TRGBIT  12 15  16  1  1  0  # SSP STRG0|1, SECTOR 5
VTP_GT_TRGBIT  13 15  32  1  1  0  # SSP STRG0|1, SECTOR 6

VTP_CRATE end
