#
# cnd cosmic
#
# FADCs
#
FADC250_CRATE adccnd1
FADC250_SLOT all

##FADC250_COMPRESSION  2

FADC250_W_OFFSET  1460
#FADC250_W_WIDTH   400
FADC250_W_WIDTH   384

FADC250_TET 60
include trigger/PEDS/hv_on/adccnd1_ped.cnf
FADC250_CRATE end


#
# TDCs
#

TDC1190_CRATE adccnd1
TDC1190_SLOT all

TDC1190_W_OFFSET -2000
TDC1190_W_WIDTH   2000

TDC1190_CRATE end
