SSP_CRATE hps11
SSP_ALLSLOTS

SSP_HPS_SET_IO_SRC 7 20
SSP_HPS_SET_IO_SRC 8 21

# Singles 0 trigger
SSP_HPS_SINGLES_EMIN  0  700  1
SSP_HPS_SINGLES_EMAX  0  8191 1
SSP_HPS_SINGLES_NMIN  0  2    1

# Singles 0 trigger
SSP_HPS_SINGLES_EMIN  1  1200 1
SSP_HPS_SINGLES_EMAX  1  8191 1
SSP_HPS_SINGLES_NMIN  1  4    1

SSP_CRATE end
