
#
# dcrb config file - example
#
# this file contains settings for DCRB boards
#
# format:
# ~~~~~~~
# DCRB_CRATE   rocname   <- ROC/crate name, usually IP name
#
#
# DCRB_SLOT        3   <- slot_number - in which next settings will be implemented
#                         till file ends or next DCRB_SLOT will be met, can be 'all' for all slots
#
# DCRB_W_OFFSET  2000  <- Trigger Window Offset, in ns (from -51175 to 1000)
# DCRB_W_WIDTH   2000  <- Trigger Window Width, in ns (from 25 to 51175)
# DCRB_DEADTIME  1000  <- Extra Search Margin (after window), in ns (from 0 to 1250)
#
# DCRB_THRESHOLD  -30  <- discriminator threshold in mV (from XXX to YYY)
#

DCRB_CRATE all

DCRB_SLOT all

DCRB_W_OFFSET       7650
DCRB_W_WIDTH        500

#short windows
#DCRB_W_OFFSET       7550
#DCRB_W_WIDTH        270

DCRB_HIT_TRIG_WIDTH 1500
DCRB_THRESHOLD      -30
DCRB_DEADTIME       350

DCRB_CRATE end
