# FSSR_ADDR_REG_KILL_STRIP <chip 0-7> <strip 0-127>
VSCM_CRATE svt1
VSCM_SLOT 7
#R2S1B
FSSR_ADDR_REG_KILL_STRIP 2  68
FSSR_ADDR_REG_KILL_STRIP 2  69
FSSR_ADDR_REG_KILL_STRIP 2  70
FSSR_ADDR_REG_KILL_STRIP 2  71

VSCM_SLOT 8
#R2S3B
FSSR_ADDR_REG_KILL_STRIP 3  9
FSSR_ADDR_REG_KILL_STRIP 3  10
FSSR_ADDR_REG_KILL_STRIP 3  11

VSCM_CRATE end
