VSCM_CRATE svt2
VSCM_SLOT 9

# FSSR_ADDR_REG_KILL_STRIP <chip 0-7> <strip 0-127>
#R2S10T
FSSR_ADDR_REG_KILL_STRIP 4  36
FSSR_ADDR_REG_KILL_STRIP 4  37
FSSR_ADDR_REG_KILL_STRIP 4  38

VSCM_SLOT 7
#R2S5B
FSSR_ADDR_REG_KILL_STRIP 2  110
FSSR_ADDR_REG_KILL_STRIP 2  111
FSSR_ADDR_REG_KILL_STRIP 2  112

VSCM_CRATE end
