VSCM_CRATE svt2
VSCM_SLOT 9

# FSSR_ADDR_REG_KILL_STRIP <chip 0-7> <strip 0-127>
#R2S10T
FSSR_ADDR_REG_KILL_STRIP 4  36
FSSR_ADDR_REG_KILL_STRIP 4  37
FSSR_ADDR_REG_KILL_STRIP 4  38

FSSR_ADDR_REG_KILL_STRIP 4  33
FSSR_ADDR_REG_KILL_STRIP 4  34
FSSR_ADDR_REG_KILL_STRIP 4  35
FSSR_ADDR_REG_KILL_STRIP 4  39
FSSR_ADDR_REG_KILL_STRIP 4  40
FSSR_ADDR_REG_KILL_STRIP 4  41
FSSR_ADDR_REG_KILL_STRIP 4  42

VSCM_SLOT 7
#R2S5B
FSSR_ADDR_REG_KILL_STRIP 2  110
FSSR_ADDR_REG_KILL_STRIP 2  111
FSSR_ADDR_REG_KILL_STRIP 2  112

VSCM_CRATE end

VSCM_CRATE svt1
VSCM_SLOT 7
#R2S1B
FSSR_ADDR_REG_KILL_STRIP 2  68
FSSR_ADDR_REG_KILL_STRIP 2  69
FSSR_ADDR_REG_KILL_STRIP 2  70
FSSR_ADDR_REG_KILL_STRIP 2  71

VSCM_SLOT 8
#R2S3B
FSSR_ADDR_REG_KILL_STRIP 3  9
FSSR_ADDR_REG_KILL_STRIP 3  10
FSSR_ADDR_REG_KILL_STRIP i3  11

VSCM_CRATE end
