# SSP_HPS_SINGLES_PRESCALE N REGION XMIN XMAX PRESCALE
# #    N:        0 or 1 - selects the hps singles trigger bit
# #    REGION:   0 to 6 - selects which region index to define
# #    XMIN:    -31 to 31  - chooses the ECAL x coordinate to start region definition (inclusive)
# #    XMAX:    -31 to 31  - chooses the ECAL x coordinate to end region definition  (inclusive)
# #    PRESCALE: 0 to 65535 - set the prescale value for the region

# GLOBAL PRESCALE 0

SSP_CRATE hps11
SSP_ALLSLOTS
SSP_HPS_SINGLES_PRESCALE 1 0 -23 -16 0
SSP_HPS_SINGLES_PRESCALE 1 1 -15  -9 0
SSP_HPS_SINGLES_PRESCALE 1 2  -8  -7 20
SSP_HPS_SINGLES_PRESCALE 1 3  -6  -4 1000
SSP_HPS_SINGLES_PRESCALE 1 4  -3  -2 60
SSP_HPS_SINGLES_PRESCALE 1 5  -1   1 16
SSP_HPS_SINGLES_PRESCALE 1 6   2  23 0
SSP_CRATE end

