# SSP_HPS_SINGLES_PRESCALE N REGION XMIN XMAX PRESCALE
# #    N:        0 or 1 - selects the hps singles trigger bit
# #    REGION:   0 to 6 - selects which region index to define
# #    XMIN:    -31 to 31  - chooses the ECAL x coordinate to start region definition (inclusive)
# #    XMAX:    -31 to 31  - chooses the ECAL x coordinate to end region definition  (inclusive)
# #    PRESCALE: 0 to 65535 - set the prescale value for the region

SSP_CRATE hps11
SSP_ALLSLOTS
SSP_HPS_SINGLES_PRESCALE 1 0 -30 -13 0
SSP_HPS_SINGLES_PRESCALE 1 1 -12  -9 80
SSP_HPS_SINGLES_PRESCALE 1 2  -8  -7 1300
SSP_HPS_SINGLES_PRESCALE 1 3  -6  -3 18000
SSP_HPS_SINGLES_PRESCALE 1 4  -2   1 1300
SSP_HPS_SINGLES_PRESCALE 1 5   2   5 80
SSP_HPS_SINGLES_PRESCALE 1 6   6  30 0
SSP_CRATE end

